<div class="search-container">
  <div class="search-bar">
    <input
      type="text"
      appSearchInputValidation
      placeholder="Search for movies..."
      [(ngModel)]="searchQuery"
      (ngModelChange)="onSearchChange()"
      class="search-input"
    />
    <button class="search-button" (click)="searchMovies()">Search</button>
    <button class="collections-button" (click)="navigateToCollections()">
      My Collections
    </button>
  </div>

  <div class="movies-grid">
    <app-movie-card
      *ngFor="let movie of movies"
      [movie]="movie"
      (click)="openMovieDetails(movie)"
    ></app-movie-card>
  </div>

  <app-pagination
    *ngIf="totalPages > 1"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</div>
